
.icon-heart-1:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-filled:before { content: '\e802'; } /* '' */
.icon-heart-2:before { content: '\e803'; } /* '' */
.icon-heart-3:before { content: '\e804'; } /* '' */
.icon-heart-4:before { content: '\e805'; } /* '' */
.icon-heart-5:before { content: '\e806'; } /* '' */
.icon-heart-6:before { content: '\e807'; } /* '' */